@import "partials/setup.scss";
@import "partials/header.scss";
@import "partials/about.scss";
@import "partials/skills.scss";
@import "partials/projects.scss";
@import "partials/contact.scss";
@import "partials/footer.scss";

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1970px;
}

img {
    width: 100%;
    display: block;
}
.wrapper {
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}