.aboutMeWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 115px;


.aboutMeImage {
    width: 39.316%;
    border: 2px solid grey;
    margin: 30px;
    position: relative;
    z-index: 99;

    .aboutMeBack {
        position: absolute;
        bottom: -4%;
        left: -30px;
        width: 90%;
        z-index: -1
        
    }
}

.aboutMeText {
    width: 50.85%;
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    


    h2 {
        color:  #000000;
        font-size: 36px;
        font-weight: 700;
         background-image: url("../../../public/assets/titleBG.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    p {
        color:  #464646;
        font-size: 16px;
        font-weight: 400;
        line-height: 36px;
        text-align: left;
    }


}


}


@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 748px) {


.aboutMeWrapper {



  .aboutMeImage {
    width: 39.316%;
    border: 2px solid white;
    margin: 15px;

    .aboutMeBack {
    display: none;
        
    }
}



}
}

/* Landscape phones and down */
@media (max-width: 540px) {


.aboutMeWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 115px;


.aboutMeImage {
    width: 39.316%;
    border: 2px solid white;
    margin: 15px auto;

    .aboutMeBack {
    display: none;
        
    }
}

.aboutMeText {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    


    h2 {
        font-size: 24px;
        margin: 0 auto;
    }
    p {
        color:  #464646;
        font-size: 12px;
        line-height: 20px;
    }


}


}

}