.aboutMeWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 115px;


.aboutMeImage {
    width: 39.316%;
    border: 2px solid grey;
    margin: 30px;
    position: relative;
    z-index: 99;

    .aboutMeBack {
        position: absolute;
        bottom: -4%;
        left: -30px;
        width: 90%;
        z-index: -1
        
    }
}

.aboutMeText {
    width: 50.85%;
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    


    h2 {
        color:  #000000;
        font-size: 36px;
        font-weight: 700;
         background-image: url("../../../public/assets/titleBG.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    p {
        color:  #464646;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }


}


}