header {
    
    background-image: linear-gradient(to right, rgba(43, 35, 29, 0.529), rgba(43, 35, 29, 0)),url("../../../public/assets/nishi-bg3.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  max-width: 100%;
  background-position: center;
  color: white;

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent none repeat scroll 0 0;
        border-bottom: 0 none;
        left: 0;
        margin: 0 auto;
        position: fixed;
        text-align: center;
        top: 0;
        transition: all 1.3s linear 0s;
        width: 100%;
        z-index: 10000;
        .logoContainer {
            width: 5.145%;
            img {
                width: 50px;
                height: 50px;
            }
        }
        ul {
            display: flex;
            width: 58.12%;
            justify-content: space-between;
            margin-right: 25px;

            li {
                list-style: none;
            a {
              text-decoration: none;  
              text-transform: uppercase;
              color:  #aaaaaa;
              border-bottom: 2px solid transparent;
              transition: all 1s;
              font-size: 12px;

              &:hover {
                  color: white;
                  border-bottom: 2px solid white;
              }

            }
        }
      }
    }
      .hero {

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
        position: relative;
    }

    .introContainer {
        margin: 0 auto;
        width: 58.12%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        
        h1 {
            font-size: 24px;
            font-weight: 700;
            // line-height: 24px;

            span {
                display: block;;
                font-size: 72px;
                // width: 100%;
            }
        }
        h3 {
            color:  white;
            font-size: 20px;
            line-height: 16px;
            width: 100%;
            text-transform: uppercase;
            }
    }

    .socialShare {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 4%;
        left:0;
            ul {
            display: flex;
            justify-content: space-between;
            width: 15%;
            margin: 0 auto;
            padding-left: 0;

            li {
                list-style: none;
            a {
              text-decoration: none;  
              text-transform: uppercase;
              color:  white;
              font-size: 24px;
              margin-right: 50px;
              transition: all 1s;

              &:hover {
                  color: grey;
              }
            }
        }
        }
    }
    
}    

.menu li:hover > a, .menu li.active > a {
//   color: #72b796;
}
.menu li:hover, .menu li.active {
  background: transparent none repeat scroll 0 0;
}
.menu.stick {
  background: #000 none repeat scroll 0 0;
}


#top-menu li.active a {
    border-bottom: 3px solid white;
    color: white;
}


/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {


header {
    
   

    


  


  .socialShare {
            ul {
            width: 50%;
            margin: 0 auto;
            padding-left: 20px;

            li {
            a {
              font-size: 18px;
              margin-right: 20px;
            }
        }
        }
    }





}






}

/* Landscape phones and down */
@media (max-width: 480px) {


header {
    
   

    nav {
        justify-content: flex-start;
  
        ul {
            width: 75%;
            justify-content: space-between;
            margin-right: 25px;

            li {
            a {
            font-size: 12px;

            }
        }
      }
    }


    .introContainer {
        
        h1 {
            font-size: 16px;

            span {
                font-size: 18px;
            }
        }
        h3 {
            color:  #606060;
            font-size: 12px;
            }
    }


  .socialShare {
            ul {
            width: 30%;
            margin: 0 auto;
            padding-left: 20px;

            li {
            a {
              font-size: 16px;
              margin-right: 20px;
            }
        }
        }
    }





}



}

@media (max-width: 480px) {


header {
    
   

    nav {
        justify-content: flex-start;

        .logoContainer {
            display: none;
        }
  
        ul {
            width: 90%;
            justify-content: space-between;
            margin-right: 25px;

            li {
            a {
            font-size: 12px;

            }
        }
      }
    }


    .introContainer {
        
        h1 {
            font-size: 16px;

            span {
                font-size: 18px;
            }
        }
        h3 {
            color:  #606060;
            font-size: 12px;
            }
    }


  .socialShare {
            ul {
            width: 30%;
            margin: 0 auto;
            padding-left: 20px;

            li {
            a {
              font-size: 16px;
              margin-right: 20px;
            }
        }
        }
    }





}



}