.skills {
    width: 100%;
    text-align: center;
    background-color:  #fafafa;
    margin: 25px 0;
    h2 {
        color:  #000000;
        font-size: 36px;
        font-weight: 700;
        margin: 75px auto;
        background-image: url("../../../public/assets/titleBG.png");
        background-size: contain;
        background-repeat: no-repeat;
        // width: 50%;
        // background-position: 100% 0;
        //  no-repeat left 10px;

    }


    .skillContainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .skill {
            width: calc(33.333% - 25px);
            margin-right: 25px;
            padding: 50px;
            &:hover {
                box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
            }
            i {
                font-size: 60px;
                // color: black;
                
            }
        }
                        .skill:nth-child(3n) {
                            margin-right: 0;
                        }
    }

}


@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {

.skills {

    margin: 25px 0;
    h2 {

        font-size: 24px;
        margin: 45px auto;

        margin-bottom: 15px;

    }


    .skillContainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .skill {
            width: calc(33.3333% - 25px);
            margin-right: 25px;
            padding: 25px;
            i {
                font-size: 40px;
                // color: black;
                
            }
        }
                       
    }

}








}